<% content_for :title, "Visuals | Mica Watches | Wood Watch Collections" %>
<% meta_description "Check out the latest edits from Mica Minutes to the OpenMind project." %>

<div id="content-container">

  <div class="container-fluid sub-nav-container">
    <%= render(:partial => "visuals-nav") %>
  </div>

  <div class="container-fluid visuals">
    <div class="row-fluid" id="visualTiles">
      <div class="span12">
        <div class="visual-images">
          <% @visuals.each do |visual| %>
          <div class="visual-image">
            <%= link_to image_tag(visual.thumbnail), visual %>
            <%= link_to image_tag("/assets/player-button.png"), visual, :class => 'play' %>
            <h5><%= link_to visual.name, visual %></h5>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<script>

$(document).ready(function() {

  $('.visuals-nav').addClass('active-nav-item');

  $('.visuals').fadeIn(1000);

  var $container = $('.visual-images');
  $container.imagesLoaded(function(){
    $container.masonry({
      itemSelector : '.visual-image',
      columnWidth : 220, 
      gutterWidth : 20, 
      isFitWidth : true
    });
  });
});

</script>
