		<div class="row-fluid sub-nav">
      <div class="page-title"><a href="/co-op"><%= @team_member.name %></a></div>
      <div class="sub-nav-item"><a href="#">All</a></div>
      <div class="sub-nav-item"><a href="#">Snow</a></div>
      <div class="sub-nav-item"><a href="#">Skate</a></div>
      <div class="sub-nav-item"><a href="#">Surf</a></div>
      <div class="sub-nav-item"><a href="#">Craftsman</a></div>
      <div class="sub-nav-item"><a href="#">Art</a></div>
      <div class="sub-nav-item"><a href="#">Music</a></div>

    </div>

    <div class="row-fluid sub-nav-mobile">
      <div class="span7 sub-nav-item"><a id="subNavOpen" href="#"><%= @team_member.name %><span class="caret"></span></a></div>
      <div class="span5 sub-nav-item"></div>
    </div>

    <div class="row-fluid sub-mobile-drop" id="opensubNav">
      <div class="span12">
      	<div class="sub-item-drop"><a href="#">All</a></div>
        <div class="sub-item-drop"><a href="#">Snow</a></div>
        <div class="sub-item-drop"><a href="#">Skate</a></div>
        <div class="sub-item-drop"><a href="#">Surf</a></div>
        <div class="sub-item-drop"><a href="#">Craftsman</a></div>
        <div class="sub-item-drop"><a href="#">Art</a></div>
      	<div class="sub-item-drop"><a href="#">Music</a></div>
      </div>
    </div>

<script>
	$(document).ready(function() {
		$('#subNavOpen').click(function() {
		  $('#opensubNav').slideToggle('fast', function() {
		    // Animation complete.
		  });
		});
	});
</script>