<div id="content-container">

  <div class="container-fluid sub-nav-container">
    <%= render(:partial => "team-nav") %>
  </div>

  <div id="team-tiles" class="tiled-images container-fluid ">
    <div class="row-fluid"> 
      <div class="span12">
        <div class="masonry-container">
          <% @team_members.each do |team_member| %>
          <div class="team-tile-image">
            <div><%= link_to image_tag(team_member.tile_image), team_member %></div>
<!--             <div class="hover-image"><%= link_to image_tag(team_member.tile_hover), team_member %></div> -->
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {

    $('.tiled-images').fadeIn(1000);

    $('.hover-image').hide();

    // $('.main-image').hover(function() {
    //   $(this).hide();
    //   $(".hover-image").show();
    // });
    // $('.hover-image').mouseleave(function() {
    //   $(this).hide();
    //   $(".main-image").show();
    // });

    var $container = $('.masonry-container');
    $container.imagesLoaded(function(){
      $container.masonry({
        itemSelector : '.team-tile-image',
        columnWidth : 300, 
        gutterWidth : 20, 
        isFitWidth : true
      });
    });

    $('.team-nav').addClass('active-nav-item');

  });
</script>
