		<div class="row-fluid sub-nav">
      <div class="page-title"><a href="/co-op">Support</a></div>
      <div class="sub-nav-item"><a href="#contact">Contact Us</a></div>
      <div class="sub-nav-item"><a href="#warrentyInfo">Warrenty</a></div>
      <div class="sub-nav-item"><a href="#sizing">Sizing</a></div>
      <div class="sub-nav-item"><a href="#returns">Returns / Exchanges</a></div>
      <div class="sub-nav-item"><a href="#deals">Find a Dealer</a></div>
    </div>

    <div class="row-fluid sub-nav-mobile">
      <div class="span7 sub-nav-item"><a id="subNavOpen" href="#">Support<span class="caret"></span></a></div>
      <div class="span5 sub-nav-item"></div>
    </div>

    <div class="row-fluid sub-mobile-drop" id="opensubNav">
      <div class="span12">
      	<div class="sub-item-drop"><a href="#contact">Contact Us</a></div>
        <div class="sub-item-drop"><a href="#warrentyInfo">Warrenty</a></div>
        <div class="sub-item-drop"><a href="#sizing">Sizing</a></div>
        <div class="sub-item-drop"><a href="#returns">Returns / Exchanges</a></div>
        <div class="sub-item-drop"><a href="#deals">Find a Dealer</a></div>

      </div>
    </div>

<script>
  $(document).ready(function() {
    $('#subNavOpen').click(function() {
      $('#opensubNav').slideToggle('fast', function() {
        // Animation complete.
      });
    });
  });
</script>