<div id="content-container">
  <div class="container-fluid sub-nav-container">
    <div class="row-fluid sub-nav">
      <div class="page-title"><a href="/co-op">Thank YOu</a></div>
    </div>
    <div class="row-fluid sub-nav-mobile">
      <div class="span7 sub-nav-item"><a id="subNavOpen" href="#">Thank You</a></div>
      <div class="span5 sub-nav-item"></div>
    </div>
  </div>
  <div class='container-fluid support'>
  	<section class="row-fluid support-content" style="max-width: 940px; margin: 0 auto;">
  		<div class="span12">
		  	<p>Thanks for submitting and joining our email updates. We’ll keep you posted on all the latest happenings from MICA.</p>
	  	</div>
	  </section>
	  <section class="row-fluid support-content" style="max-width: 940px; margin: 0 auto;">
	  	<div class="span4"><span>Sales: </span><a href="mailto:sales@micamove.com">sales@micamove.com</a></div>
	  	<div class="span4"><span>Service: </span><a href="mailto:service@micamove.com">service@micamove.com</a></div>
	  	<div class="span4"><span>Info: </span><a href="mailto:info@micamove.com">info@micamove.com</a></div>
	  </section>
  </div>
</div>

<script>
$(document).ready(function() {
	$('.page-title').css('border-right', '0px');

});

</script>