<div class="container-fluid">	
	<div class="row-fluid">	
		<div class="span12">
			<div id="myCarousel" class="carousel slide">
				  <!-- Carousel items -->
				  <div class="carousel-inner">
				    <div class="active item image1"></div>
				    <div class="item image2"></div>
				    <div class="item image3"></div>
				  </div>
				  <!-- Carousel nav -->
				  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
				  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
				</div>
			</div>
	</div>
</div>

<div class="container-fluid home-tiles">	
	<div class="row-fluid">	
		<div class="span12">
			<div class="home-tiles-inner masonry">
				<a href="#"><img class="home-tile-image" src="/assets/home-tile-1.jpg">Test</a>
				<img class="home-tile-image" src="/assets/home-tile-2.jpg"></img>
				<img class="home-tile-image" src="/assets/home-tile-3.jpg"></img>
				<img class="home-tile-image" src="/assets/home-tile-6.jpg"></img>
				<img class="home-tile-image" src="/assets/home-tile-4.jpg"></img>
				<img class="home-tile-image" src="/assets/home-tile-5.jpg"></img>
			</div>
		</div>
	</div>
</div>
<div class="desktop-footer">
	<div clas="container-fluid">
		<div class="row-fluid">
			<div class="span12 footer-inner">
				<a href="mailto:info@micamove.com" class="footer-item">info@micamove.com</a>
				<a href="/" class="footer-item">Home</a>
				<a href="/" class="footer-item">Store</a>
				<a href="/" class="footer-item">Team</a>
				<a href="/" class="footer-item">Mvmnt</a>
				<a href="/" class="footer-item">Visuals</a>
				<a href="/" class="footer-item">Support</a>
			</div>
		</div>
	</div>
</div>


	<script>

	var $container = $('.masonry');
	$container.imagesLoaded(function(){
	  $container.masonry({
	    itemSelector : '.home-tile-image',
	    columnWidth : 300, 
	    gutterWidth : 20, 
	    isFitWidth: true
	  });
	});

	</script>
