	<div id="myCarousel" class="carousel slide">
	  <!-- Carousel items -->
	  <div class="carousel-inner">
	    <div class="active item image1">
	    	<img src="assets/Drift_Black_Carousel1.jpg">
	    </div>
	    <div class="item image2">
	    	<img src="assets/fall_winter.jpg">
	    </div>
	    <div class="item image3">
	    	<img src="assets/drift_dark_carousel.jpg">
	    </div>
	  </div>
	  <!-- Carousel nav -->
	  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>

	<div class="home-tiles-bg masonry">
		<div class="home-tile-image"><img src="/assets/home-tile-1.jpg"></img></div>
		<div class="home-tile-image"><img src="/assets/home-tile-2.jpg"></img></div>
		<div class="home-tile-image"><img src="/assets/home-tile-3.jpg"></img></div>
		<div class="home-tile-image"><img src="/assets/home-tile-6.jpg"></img></div>
		<div class="home-tile-image"><img src="/assets/home-tile-4.jpg"></img></div>
		<div class="home-tile-image"><img src="/assets/home-tile-5.jpg"></img></div>
	</div>


	<script>

	var $container = $('.masonry');
	$container.imagesLoaded(function(){
	  $container.masonry({
	    itemSelector : '.home-tile-image',
	    columnWidth : 300, 
	    gutterWidth : 20, 
	    isFitWidth: true
	  });
	});

	</script>
