<div class="container-fluid">	
	<div class="row-fluid">	
		<div class="span12">
			<div id="myCarousel" class="carousel-home slide">
				  <!-- Carousel items -->
				  <div class="carousel-inner">
				    <div class="active item image1"></div>
				    <div class="item image2"></div>
				    <div class="item image3"></div>
				  </div>
				  <!-- Carousel nav -->
				  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
				  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
				</div>
			</div>
	</div>
</div>

<div id="tiled-images" class="home-tiles">
	<div class="container-fluid images-container">	
		<div class="row-fluid">	
			<div class="span12">
				<div class="masonry-container">
					<div class="home-image home-image1"><h2>Alex<br>Andrews</h2></div>
					<div class="home-image home-image3"><h2>Scott<br>Stevens</h2></div>
					<div class="home-image home-image5"><h2>Jordon<br>Mendenhall</h2></div>
					<div class="home-image home-image6"><h2>Cale<br>Zima</h2></div>
					<div class="home-image home-image2"><h2>Seth<br>Huot</h2></div>
					<div class="home-image home-image4"><h2>Sean<br>Black</h2></div>
				</div>
			</div>
		</div>
	</div>
</div>


	<script>
	$(document).ready(function() {

		$(".images-container").css("margin-top", "450px");

		var $container = $('.masonry-container');
		$container.imagesLoaded(function(){
		  $container.masonry({
		    itemSelector : '.home-image',
		    columnWidth : 300, 
		    gutterWidth : 20, 
		  });
		});

	});
	</script>
