<div class="container-fluid">	
	<div class="row-fluid">	
		<div class="span12">
			<div id="homeCarousel" class="carousel slide">
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <div class="active item">
			    	<a href="/watches"><img class="image-1-desktop"src="assets/home-carousel/desktop/drift_amanda.jpg"/></a>
			    	<a href="/products"><img class="image-1-tablet"src="assets/home-carousel/tablet/drift_amanda.jpg"/></a>
			    	<a href="/products"><img class="image-1-phone"src="assets/home-carousel/phone/drift_amanda.jpg"/></a>
			    </div>
			    <div class="item">
			    	<a href="/products"><img class="image-2-desktop"src="assets/home-carousel/desktop/fall_winter.jpg"/></a>
			    	<a href="/products"><img class="image-2-tablet"src="assets/home-carousel/tablet/fall_winter.jpg"/></a>
			    	<a href="/products"><img class="image-2-phone"src="assets/home-carousel/phone/fall_winter.jpg"/></a>
			    </div>
			    <div class="item">
			    	<a href="/visuals"><img class="image-3-desktop"src="assets/home-carousel/desktop/alex_andrews.jpg"/></a>
			    	<a href="/visuals"><img class="image-3-tablet"src="assets/home-carousel/tablet/alex_andrews.jpg"/></a>
			    	<a href="/visuals"><img class="image-3-phone"src="assets/home-carousel/phone/alex_andrews.jpg"/></a>
			    </div>
			  </div>
			  <!-- Carousel nav -->
			  <a class="carousel-control left" href="#homeCarousel" data-slide="prev">&lsaquo;</a>
			  <a class="carousel-control right" href="#homeCarousel" data-slide="next">&rsaquo;</a>
			</div>
		</div>
	</div>
</div>



<div id="home-tiles" class="tiled-images">
	<div class="container-fluid images-container">	
		<div class="row-fluid">	
			<div class="span12">
				<div class="masonry-container">
					<div class="home-image">
						<a href="/team_members">
							<img class="co-op-image" src="assets/home-tile-images/co-op.jpg"/>
							<img class="co-op-image-hover" src="assets/home-tile-images/co-op-hover.jpg"/>
						</a>
					</div>
					<div class="home-image">
						<a href="/products">
							<img class="shop-now" src="assets/home-tile-images/shop-now.jpg"/>
							<img class="shop-now-hover" src="assets/home-tile-images/shop-now-hover.jpg"/>
						</a>
					</div>
					<div class="home-image">
						<a href="/visuals">
							<img class="image-3" src="assets/home-tile-images/visuals.jpg"/>
						</a>
					</div>
					<div class="home-image">
						<a href="#">
							<img class="image-4" src="assets/home-tile-images/form.png"/>
						</a>
					</div>
					<div class="home-image">
						<a href="/products/186">
							<img class="featured-product" src="assets/home-tile-images/featured-product.jpg"/>
							<img class="featured-product-hover" src="assets/home-tile-images/featured-product-hover.jpg"/>
						</a>
					</div>
					<div class="home-image">
						<a href="http://tumblr.micamove.com/">
							<img class="blog" src="assets/home-tile-images/blog.jpg"/>
							<img class="blog-hover" src="assets/home-tile-images/blog-hover.jpg"/>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


	<script>
	$(document).ready(function() {

		$('.tiled-images').fadeIn(1000);


		// hover states for tiled images
		$('.co-op-image').hover(function() {
			$(this).hide(0);
			$(".co-op-image-hover").show();
		});
		$('.co-op-image-hover').mouseleave(function() {
			$(this).hide();
			$(".co-op-image").show();
		});

		$('.featured-product').mouseover(function() {
			$(this).hide();
			$(".featured-product-hover").show();
		});
		$('.featured-product-hover').mouseleave(function() {
			$(this).hide();
			$(".featured-product").show();
		});

		$('.blog').mouseover(function() {
			$(this).hide();
			$(".blog-hover").show();
		});
		$('.blog-hover').mouseleave(function() {
			$(this).hide();
			$(".blog").show();
		});

		$('.featured-product').mouseover(function() {
			$(this).hide();
			$(".featured-product-hover").show();
		});
		$('.featured-product-hover').mouseleave(function() {
			$(this).hide();
			$(".featured-product").show();
		});

		$('.shop-now').mouseover(function() {
			$(this).hide();
			$(".shop-now-hover").show();
		});
		$('.shop-now-hover').mouseleave(function() {
			$(this).hide();
			$(".shop-now").show();
		});



		var $container = $('.masonry-container');
		$container.imagesLoaded(function(){
		  $container.masonry({
		    itemSelector : '.home-image',
		    columnWidth : 300, 
		    gutterWidth : 20, 
		    isFitWidth : true
		  });
		});

	});
	</script>
