<div class="container-fluid">	
	<div class="row-fluid">	
		<div class="span12">
			<div id="myCarousel" class="carousel slide">
				  <!-- Carousel items -->
				  <div class="carousel-inner">
				    <div class="active item image1"></div>
				    <div class="item image2"></div>
				    <div class="item image3"></div>
				  </div>
				  <!-- Carousel nav -->
				  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
				  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
				</div>
			</div>
	</div>
</div>

<div class="container-fluid home-tiles">	
	<div class="row-fluid">	
		<div class="span12">
			<div class="home-tiles-inner masonry">
					<div class="home-tile-image"><img src="/assets/home-tile-1.jpg"></img></div>
					<div class="home-tile-image"><img src="/assets/home-tile-2.jpg"></img></div>
					<div class="home-tile-image"><img src="/assets/home-tile-3.jpg"></img></div>
					<div class="home-tile-image"><img src="/assets/home-tile-6.jpg"></img></div>
					<div class="home-tile-image"><img src="/assets/home-tile-4.jpg"></img></div>
					<div class="home-tile-image"><img src="/assets/home-tile-5.jpg"></img></div>
				</div>
			</div>
	</div>
</div>


	<script>

	var $container = $('.masonry');
	$container.imagesLoaded(function(){
	  $container.masonry({
	    itemSelector : '.home-tile-image',
	    columnWidth : 300, 
	    gutterWidth : 20, 
	    isFitWidth: true
	  });
	});

	</script>
