<% content_for :title, "Mica Watches | Wood Watch Collections" %>
<% meta_description "MICA hand crafted watches, built from 100% wood and treated with our SolidCore™ wood science technology to improve durability, luster and resistance to the elements." %>

<div class="container-fluid">	
	<div class="row-fluid">	
		<div class="span12">
			<div id="homeCarousel" class="carousel slide">
			  <!-- Carousel items -->
			  <div class="carousel-inner">
                <div class="active item">
                  <a href="/products"><img class="image-1-desktop"src="assets/home-carousel/desktop/BlackFri-Hat-Homepage-Masthead.jpg"/></a>
                </div>
                <div class="item">
                  <a href="/clothing"><img class="image-3-desktop"src="assets/home-carousel/desktop/Mica-Winter-Softgoods-Masthead.jpg"/></a>
                  <a href="/clothing"><img class="image-3-tablet"src="assets/home-carousel/tablet/Mica-Winter-Softgoods-Masthead.jpg"/></a>
                  <a href="/clothing"><img class="image-3-phone"src="assets/home-carousel/phone/Mica-Winter-Softgoods-Masthead-Mobile.jpg"/></a>
                </div>
			    <div class="item">
			    	<a href="/sable-collection"><img class="image-1-desktop"src="assets/home-carousel/desktop/sable_collection.jpg"/></a>
			    	<a href="/sable-collection"><img class="image-1-tablet"src="assets/home-carousel/tablet/sable_collection.jpg"/></a>
			    	<a href="/sable-collection"><img class="image-1-phone"src="assets/home-carousel/phone/sable_collection.jpg"/></a>
			    </div>
			    <div class="item">
			    	<a href="/blonde-collection"><img class="image-2-desktop"src="assets/home-carousel/desktop/blonde_collection.jpg"/></a>
			    	<a href="/blonde-collection"><img class="image-2-tablet"src="assets/home-carousel/tablet/blonde_collection.jpg"/></a>
			    	<a href="/blonde-collection"><img class="image-2-phone"src="assets/home-carousel/phone/blonde_collection.jpg"/></a>
			    </div>
			    <div class="item">
			    	<a href="/visuals"><img class="image-3-desktop"src="assets/home-carousel/desktop/alex_andrews.jpg"/></a>
			    	<a href="/visuals"><img class="image-3-tablet"src="assets/home-carousel/tablet/alex_andrews.jpg"/></a>
			    	<a href="/visuals"><img class="image-3-phone"src="assets/home-carousel/phone/alex_andrews.jpg"/></a>
			    </div>
			  </div>
			  <!-- Carousel nav -->
			  <a class="carousel-control left" href="#homeCarousel" data-slide="prev">&lsaquo;</a>
			  <a class="carousel-control right" href="#homeCarousel" data-slide="next">&rsaquo;</a>
			</div>
		</div>
	</div>
</div>



<div id="home-tiles" class="tiled-images">
	<div class="container-fluid images-container">	
		<div class="row-fluid">	
			<div class="span12">
				<div class="masonry-container">
					<div class="home-image">
						<a href="/co-op">
							<img class="co-op-image" src="assets/home-tile-images/co-op.jpg"/>
							<img class="co-op-image-hover" src="assets/home-tile-images/co-op-hover.jpg"/>
						</a>
					</div>
					<div class="home-image">
						<a href="/products">
							<img class="shop-now" src="assets/home-tile-images/shop-now.jpg"/>
							<img class="shop-now-hover" src="assets/home-tile-images/shop-now-hover.jpg"/>
						</a>
					</div>
					<div class="home-image">
						<a href="/visuals/loose-end-ben-fisher">
							<img class="visuals" src="assets/home-tile-images/visuals.jpg"/>
							<img class="visuals-hover" src="assets/home-tile-images/visuals-hover.jpg"/>
						</a>
					</div>
					<div class="home-image">
						<a href="#stickerModal" data-toggle="modal">
							<img class="sticker-pack" src="assets/home-tile-images/stickers.jpg"/>
							<img class="sticker-pack-hover" src="assets/home-tile-images/sticker-packs-hover.jpg"/>
						</a>
					</div>
					<div class="home-image">
						<a href="/products/the-drift-sable-black-wood-watch-37mm">
							<img class="featured-product" src="assets/home-tile-images/featured-product.jpg"/>
							<img class="featured-product-hover" src="assets/home-tile-images/featured-product-hover.jpg"/>
						</a>
					</div>
					<div class="home-image">
						<a href="http://tumblr.micamove.com/">
							<img class="blog" src="assets/home-tile-images/blog.jpg"/>
							<img class="blog-hover" src="assets/home-tile-images/blog-hover.jpg"/>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%= render(:partial => "sticker-modal") %>

<script>
	$(document).ready(function() {

		$('.tiled-images').fadeIn(1000);


		// hover states for tiled images
		$('.co-op-image').hover(function() {
			$(this).hide(0);
			$(".co-op-image-hover").show();
		});
		$('.co-op-image-hover').mouseleave(function() {
			$(this).hide();
			$(".co-op-image").show();
		});

		$('.featured-product').mouseover(function() {
			$(this).hide();
			$(".featured-product-hover").show();
		});
		$('.featured-product-hover').mouseleave(function() {
			$(this).hide();
			$(".featured-product").show();
		});

		$('.blog').mouseover(function() {
			$(this).hide();
			$(".blog-hover").show();
		});
		$('.blog-hover').mouseleave(function() {
			$(this).hide();
			$(".blog").show();
		});

		$('.featured-product').mouseover(function() {
			$(this).hide();
			$(".featured-product-hover").show();
		});
		$('.featured-product-hover').mouseleave(function() {
			$(this).hide();
			$(".featured-product").show();
		});

		$('.shop-now').mouseover(function() {
			$(this).hide();
			$(".shop-now-hover").show();
		});
		$('.shop-now-hover').mouseleave(function() {
			$(this).hide();
			$(".shop-now").show();
		});

		$('.visuals').mouseover(function() {
			$(this).hide();
			$(".visuals-hover").show();
		});
		$('.visuals-hover').mouseleave(function() {
			$(this).hide();
			$(".visuals").show();
		});

		$('.sticker-pack').mouseover(function() {
			$(this).hide();
			$(".sticker-pack-hover").show();
		});
		$('.sticker-pack-hover').mouseleave(function() {
			$(this).hide();
			$(".sticker-pack").show();
		});

		$('.carousel').carousel({
		  interval: 4000
		})


		var $container = $('.masonry-container');
		$container.imagesLoaded(function(){
		  $container.masonry({
		    itemSelector : '.home-image',
		    columnWidth : 300, 
		    gutterWidth : 20, 
		    isFitWidth : true
		  });
		});

	});
	</script>
