<div class="container-fluid" id="support">

	<div class="row-fluid">
		<div class="span12 support-nav">
			<ul>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">Warrenty</a></li>
				<li><a href="#">Sizing</a></li>
				<li><a href="#">Return/Exchange</a></li>
				<li><a href="#">Find a Dealer</a></li>
			</ul>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12 support-header">
			<h3>Say Hello</h3>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span6">
			<p>Mica would love to help answer any questions you may have. Send us an email and we’ll get back to you shortly. Also, make sure to follow the blog and like our facebook page for more updates and cool stuff!</p>

		</div>
	</div>

</div>