<div class="container-fluid" id="support">

	<div class="row-fluid">
		<div class="span12 support-nav">
			<ul>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">Warrenty</a></li>
				<li><a href="#">Sizing</a></li>
				<li><a href="#">Return/Exchange</a></li>
				<li><a href="#">Find a Dealer</a></li>
			</ul>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12 support-header">
			<h3>Say Hello</h3>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span6">
			<p>Mica would love to help answer any questions you may have. Send us an email and we’ll get back to you shortly. Also, make sure to follow the blog and like our facebook page for more updates and cool stuff!</p>

			<p>Press inquiries can best be answered via email.</p>

			<ul class="links">
				<li>
					<span>Sales: </span><a href="mailto:sales@micamove.com">sales@micamove.com</a>
				</li>
				<li>
					<span>Service: </span><a href="mailto:service@micamove.com">service@micamove.com</a>
				</li>
				<li>
					<span>Info: </span><a href="mailto:info@micamove.com">info@micamove.com</a>
				</li>
			</ul>
		</div>

		<div class="span6">
			<div id="wufoo-z7x4m1">
				Fill out my <a href="http://micamove.wufoo.com/forms/z7x4m1">online form</a>.
			</div>
			<script type="text/javascript">var z7x4m1;(function(d, t) {
				var s = d.createElement(t), options = {
				'userName':'micamove', 
				'formHash':'z7x4m1', 
				'autoResize':true,
				'height':'557',
				'async':true,
				'header':'hide'};
				s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
				s.onload = s.onreadystatechange = function() {
				var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
				try { z7x4m1 = new WufooForm();z7x4m1.initialize(options);z7x4m1.display(); } catch (e) {}};
				var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
				})(document, 'script');
			</script>
		</div>

	</div>

</div>