<div id="team">
	<div class="container-fluid team-list">	
		<div class="row-fluid">	
			<div class="span12">
				<div class="masonry-container">
					<div class="team-image image1"><h1>Alex Andrews</h1></div>
						<div class="team-image image2"><h1>Scott Stevens</h1></div>
						<div class="team-image image3"><h1>Jordon Mendenhall</h1></div>
						<div class="team-image image5"><h1>Cale Zima</h1></div>
						<div class="team-image image6"><h1>Seth Huot</h1></div>
						<div class="team-image image4"><h1>Sean Black</h1></div>
					</div>
			</div>
		</div>
	</div>
</div>

	<script>

	var $container = $('.masonry-container');
	$container.imagesLoaded(function(){
	  $container.masonry({
	    itemSelector : '.team-image',
	    columnWidth : 300, 
	    gutterWidth : 20, 
	  });
	});

	</script>
