<div id="content-container">

  <div class="container-fluid sub-nav-container">
    <%= render(:partial => "visuals-nav") %>
  </div>

	<div class="container-fluid visuals">
		<div class="row-fluid">
			<div class="span12 visual-header">
        <div class="video-player active" id="openMind">
         <iframe src="http://player.vimeo.com/video/62905662?title=0&amp;byline=0&amp;portrait=0&amp;color=c9ff23" width="940" height="528" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>      
        </div>
        <div class="video-player" id="micaMinute24">
         <iframe src="http://player.vimeo.com/video/37504015?title=0&amp;byline=0&amp;portrait=0&amp;color=c9ff23" width="940" height="529" frameborder="0" webkitAllowFullScreen mozahttp://localhost:3000/productsllowfullscreen allowFullScreen></iframe>      
        </div>
        <div class="video-player" id="micaMinute23">
         <iframe src="http://player.vimeo.com/video/32461477?title=0&amp;byline=0&amp;portrait=0&amp;color=c9ff23" width="940" height="529" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>     
        </div>
        <div class="video-player" id="micaMinute22">
         <iframe src="http://player.vimeo.com/video/31738066?title=0&amp;byline=0&amp;portrait=0&amp;color=c9ff23" width="940" height="529" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>     
        </div>
        <div class="video-player" id="micaMinute21">
         <iframe src="http://player.vimeo.com/video/25734258?title=0&amp;byline=0&amp;portrait=0&amp;color=c9ff23" width="940" height="529" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>     
        </div>
        <div class="video-player" id="micaMinute20">
         <iframe src="http://player.vimeo.com/video/21764534?title=0&amp;byline=0&amp;portrait=0&amp;color=c9ff23" width="940" height="529" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>     
        </div>
        <div class="video-player" id="micaMinute19">
         <iframe src="http://player.vimeo.com/video/20855714?title=0&amp;byline=0&amp;portrait=0&amp;color=c9ff23" width="940" height="529" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>     
        </div>
        <div class="video-player" id="micaMinute18">
         <iframe src="http://player.vimeo.com/video/19751272?title=0&amp;byline=0&amp;portrait=0&amp;color=c9ff23" width="940" height="529" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>     
        </div>
        <div class="video-player" id="micaMinute17">
         <iframe src="http://player.vimeo.com/video/16940813?title=0&amp;byline=0&amp;portrait=0&amp;color=c9ff23" width="940" height="529" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>      
        </div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12 visual-images">
				<div class="visual-image">
					<a href="#" class="openMindClick"><img src="/assets/visuals/open-mind.jpg"></a>
					<a href="#" class="openMindClick"><img class="play" src="/assets/player-button.png"></img></a>
					<a href="#" class="openMindClick"><h5>Alex Andrews || Open Mind</h5></a>
				</div>
				<div class="visual-image">
					<a href="#" class="micaMinute24Click"><img src="/assets/visuals/mica-minute-24.jpg"></a>
					<a href="#" class="micaMinute24Click"><img class="play" src="/assets/player-button.png"></img></a>
					<a href="#" class="micaMinute24Click"><h5>Mica Minute #24</h5></a>
				</div>
				<div class="visual-image">
					<a href="#" class="micaMinute23Click"><img src="/assets/visuals/mica-minute-23.jpg"></a>
					<a href="#" class="micaMinute23Click"><img class="play" src="/assets/player-button.png"></img></a>
					<a href="#" class="micaMinute23Click"><h5>Mica Minute #23</h5></a>
				</div>
				<div class="visual-image">
					<a href="#" class="micaMinute22Click"><img src="/assets/visuals/mica-minute-22.jpg"></a>
					<a href="#" class="micaMinute22Click"><img class="play" src="/assets/player-button.png"></img></a>
					<a href="#" class="micaMinute22Click"><h5>Mica Minute #22</h5></a>
				</div>
				<div class="visual-image">
					<a href="#" class="micaMinute21Click"><img src="/assets/visuals/mica-minute-21.jpg"></a>
					<a href="#" class="micaMinute21Click"><img class="play" src="/assets/player-button.png"></img></a>
					<a href="#" class="micaMinute21Click"><h5>Mica Minute #21</h5></a>
				</div>
				<div class="visual-image">
					<a href="#" class="micaMinute20Click"><img src="/assets/visuals/mica-minute-20.jpg"></a>
					<a href="#" class="micaMinute20Click"><img class="play" src="/assets/player-button.png"></img></a>
					<a href="#" class="micaMinute20Click"><h5>Mica Minute #20</h5></a>
				</div>
				<div class="visual-image">
					<a href="#" class="micaMinute19Click"><img src="/assets/visuals/mica-minute-19.jpg"></a>
					<a href="#" class="micaMinute19Click"><img class="play" src="/assets/player-button.png"></img></a>
					<a href="#" class="micaMinute19Click"><h5>Mica Minute #19</h5></a>
				</div>
				<div class="visual-image">
					<a href="#" class="micaMinute18Click"><img src="/assets/visuals/mica-minute-18.jpg"></a>
					<a href="#" class="micaMinute18Click"><img class="play" src="/assets/player-button.png"></img></a>
					<a href="#" class="micaMinute18Click"><h5>Mica Minute #18</h5></a>
				</div>
				<div class="visual-image">
					<a href="#" class="micaMinute17Click"><img src="/assets/visuals/mica-minute-17.jpg"></a>
					<a href="#" class="micaMinute17Click"><img class="play" src="/assets/player-button.png"></img></a>
					<a href="#" class="micaMinute17Click"><h5>Mica Minute #17</h5></a>
				</div>
			</div>
		</div>
	</div>
</div>

<script>

$(function() {  
	$(".openMindClick").click(function() { 
    $(".active").removeClass("active");
    $("#openMind").addClass("active");  
  });

  $(".micaMinute24Click").click(function() { 
    $(".active").removeClass("active");
    $("#micaMinute24").addClass("active");  
  });

  $(".micaMinute23Click").click(function() { 
    $(".active").removeClass("active");
    $("#micaMinute23").addClass("active");  
  });

  $(".micaMinute22Click").click(function() { 
    $(".active").removeClass("active");
    $("#micaMinute22").addClass("active");  
  });

  $(".micaMinute21Click").click(function() { 
    $(".active").removeClass("active");
    $("#micaMinute21").addClass("active");  
  });

  $(".micaMinute20Click").click(function() { 
    $(".active").removeClass("active");
    $("#micaMinute20").addClass("active");  
  });

  $(".micaMinute19Click").click(function() { 
    $(".active").removeClass("active");
    $("#micaMinute19").addClass("active");  
  });

  $(".micaMinute18Click").click(function() { 
    $(".active").removeClass("active");
    $("#micaMinute18").addClass("active");  
  });

  $(".micaMinute17Click").click(function() { 
    $(".active").removeClass("active");
    $("#micaMinute17").addClass("active");  
  });

  $('.visuals-nav').addClass('active-nav-item');

});

</script>