@import "variables"
@import "fontface"

.carousel
	margin-bottom: 0
	.carousel-inner
		.item
			.image-1-desktop
				display: block
			.image-1-tablet
				display: none
			.image-1-phone
				display: none
			.image-2-desktop
				display: block
			.image-2-tablet
				display: none
			.image-2-phone
				display: none
			.image-3-desktop
				display: block
			.image-3-tablet
				display: none
			.image-3-phone
				display: none


@media screen and (max-width: 768px) and (min-width: 480px)
	.carousel
		margin-bottom: 0
		.carousel-inner
			.item
				.image-1-desktop
					display: none
				.image-1-tablet
					display: block
				.image-1-phone
					display: none
				.image-2-desktop
					display: none
				.image-2-tablet
					display: block
				.image-2-phone
					display: none
				.image-3-desktop
					display: none
				.image-3-tablet
					display: block
				.image-3-phone
					display: none


@media screen and (max-width: 479px) 
	.carousel
		margin-bottom: 0
		.carousel-inner
			.item
				.image-1-desktop
					display: none
				.image-1-tablet
					display: none
				.image-1-phone
					display: block
				.image-2-desktop
					display: none
				.image-2-tablet
					display: none
				.image-2-phone
					display: block
				.image-3-desktop
					display: none
				.image-3-tablet
					display: none
				.image-3-phone
					display: block


