@import "variables"
@import "fontface"

#products
	.row-fluid
		margin: 0 auto
	.product-details
		h6
			color: $lightGray
			display: inline-block
			text-transform: uppercase
		.main-image
			img
				margin-top: 40px
				width: 442px
		.sub-images
			margin-top: 16px
			.sub-image
				margin-right: 16px
				width: 29%
				&:last-child
					margin-right: 0

		.detail-heading
			border-bottom: 1px solid $border
			margin-top: 45px
			h3
				color: $darkGray
				text-transform: uppercase
			h6
				margin-left: 40px
		.product-buy
			margin-top: 30px
			span
				margin-left: 30px
				text-transform: uppercase
			.small-link
				display: none
			.medium-link
				display: none
			.large-link
				display: none
			.xl-link
				display: none
			.small-link-active
				display: block
		.color-options
			margin-top: 30px
			.sizes
				margin-left: 0
			.color-options-images
				img
					height: 65px
					width: 60px
		.specs
			margin-bottom: 40px
			ul	
				list-style-type: none
				margin-left: 0
				padding-left: 0
				li
					color: $lightGray
					margin-bottom: 16px
					a
						color: $darkGray
				span
					background-image: url("products/watches/spec-icons/spec_sprite.png")
					height: 28px
					margin-right: 12px
					width: 28px
				.spec-icon-solid
					background-position: 0 174px
				.spec-icon-size
					background-position: 0 145px
				.spec-icon-movement
					background-position: 0 116px
				.spec-icon-crystal
					background-position: 0 87px
				.spec-icon-atm
					background-position: 0 58px
				.spec-icon-ss
					background-position: 0 30px
		.social
			margin-bottom: 80px
			ul	
				list-style-type: none
				margin-left: 0
				padding-left: 0
				li
					color: $lightGray
					margin-bottom: 16px
					a
						color: $darkGray
				span
					background-image: url("products/social-icons/social_sprite.png")
					height: 28px
					margin-right: 12px
					width: 28px
				.social-icon-facebook
					background-position: 0 176px
				.social-icon-twitter
					background-position: 0 147px
				.social-icon-pinterest
					background-position: 0 118px

@media screen and (max-width: 620px)
	#products
		.product-details
			.main-image
				text-align: center
			.span6
				display: block
				width: 100%
			.detail-heading
				border-bottom: 0
			.sub-images
				margin-top: 16px auto
				text-align: center


