@import "variables"
@import "fontface"


.header
	background: white
	border-top: 4px solid $darkGray
	.logo
		background: url("logo.png")
		height: 81px
		width: 195px
		&:hover
			opacity: .6
	.nav-list
		list-style: none
		padding: 28px 0 72px 0
		li
			float: left
			font-family: "brandonreg",sans-serif
			font-style: normal
			font-weight: 400
			font-size: 15px
			letter-spacing: 0.15em
			margin-left: 38px
			padding: 13px
			text-transform: uppercase
			width: 76px
		a
			color: $darkGray
			text-decoration: none	
			&:hover
				background: $darkGray
				color: $white
		.nav-menu-icon
			display: none
			background: $darkGray
			float: right
			height: 30px
			margin-right: 25px
			padding: 4px
			position: relative
			width: 42px
			.nav-icon-line
				background: $white
				height: 3px
				margin: 5px auto
				width: 23px

	.mobile-nav-list
		display: none
		text-align: center
		.mobile-nav-item
			border-bottom: 1px solid #eee
			display: block
			font-family: "brandonreg",sans-serif
			font-style: normal
			font-weight: 400
			font-size: 15px
			letter-spacing: 0.15em
			padding: 20px 0
			text-transform: uppercase
			&:first-child
				border-top: 1px solid #eee
		a
			color: $darkGray
			text-decoration: none	
			&:hover
				background: $darkGray
				color: $white

.carousel
	left: 50%
	margin-left: -700px
	width: 1400px
	position: absolute
	.carousel-inner
		background: $white
		.image1
			background: url("Drift_Black_Carousel1.jpg")
			height: 580px
			width: 1400px
		.image2
			background: url("fall_winter.jpg")
			height: 580px
			width: 1400px
		.image3
			background: url("drift_dark_carousel.jpg")
			height: 580px
			width: 1400px

	.carousel-control
		background: $white
		border-radius: 0
		color: $black
		opacity: 0
		top: 79%
		transition: opacity 0.7s
		-moz-transition: opacity 0.7s /* Firefox 4 */
		-webkit-transition: opacity 0.7s /* Safari and Chrome */
		-o-transition: opacity 0.7s /* Opera */
	.right
		right: 43%
	.left
		left: 43%
	&:hover
		.carousel-control
			opacity: 1

.home-tiles
	background: $white
	margin: 480px auto 0px auto
	.home-tiles-inner
		background: $white
		border: 20px solid $white
		margin: 0 auto
		max-width: 980px
		position: relative
		img
			margin-bottom: 20px
			width: 300px

@media screen and (max-width: 980px) and (min-width: 768px)
	.header
		.nav-list
			text-align: right
			.nav-menu-icon
				display: block

		.mobile-nav-list
			display: none

	.carousel
		left: 50%
		margin-left: -490px
		width: 980px
		position: absolute
		.carousel-inner
			background: $white
			.image1
				background: url("tab-carousel.jpg")
				height: 500px
				width: 980px


@media screen and (max-width: 767px) and (min-width: 480px)
	.header
		.nav-list
			text-align: right
			.nav-menu-icon
				display: block

		.mobile-nav-list
			display: none


@media screen and (max-width: 479px) 
	.header
		.nav-list
			text-align: right
			.nav-menu-icon
				display: block

		.mobile-nav-list
			display: none

	.carousel
		left: 50%
		margin-left: -240px
		width: 480px
		position: absolute
		.carousel-inner
			background: $white
			.image1
				background: url("phone-carousel.jpg")
				height: 320px
				width: 480px
	.home-tiles
		margin: 290px auto 0px auto





