@import "variables"
@import "fontface"
@import "mixins"

#team
	margin: 20px 0
	.team-list
		background: $white
		.row-fluid
			margin: 0 auto
			max-width: 940px
			padding: 20px 0
			.team-image
				color: $white
				display: inline-block
				margin: 0 16px 20px 0
				text-align: center
				text-transform: uppercase
				&:nth-child(3)
					margin-right: 0
				&:last-child
					margin-right: 0
			.image1
				background: url('team/alex-andrews.jpg') no-repeat
				height: 460px
				width: 300px
				@include transition(background, 0.3s, ease-in)
				h2
					letter-spacing: 0.15em
					margin-top: 50%
					opacity: 0
					@include transition(opacity, 0.3s, ease-in)
				&:hover
					background: url('team/alex-andrews-hover.jpg')
					h2
						opacity: 1
			.image2
				background: url('team/scott-stevens.jpg') no-repeat
				height: 240px
				width: 300px
				@include transition(background, 0.3s, ease-in)
				h2
					letter-spacing: 0.15em
					margin-top: 25%
					opacity: 0
					@include transition(opacity, 0.3s, ease-in)
				&:hover
					background: url('team/scott-stevens-hover.jpg')
					h2
						opacity: 1
			.image3
				background: url('team/jordan-mendenhall.jpg') no-repeat
				height: 320px
				width: 300px
				@include transition(background, 0.3s, ease-in)
				h2
					letter-spacing: 0.15em
					margin-top: 40%
					opacity: 0
					@include transition(opacity, 0.3s, ease-in)
				&:hover
					background: url('team/jordan-mendenhall-hover.jpg')
					h2
						opacity: 1
			.image4
				background: url('team/sean-black.jpg') no-repeat
				height: 200px
				width: 300px
				@include transition(background, 0.3s, ease-in)
				h2
					letter-spacing: 0.15em
					margin-top: 24%
					opacity: 0
					@include transition(opacity, 0.3s, ease-in)
				&:hover
					background: url('team/sean-black-hover.jpg')
					h2
						opacity: 1
			.image5
				background: url('team/cale-zima.jpg') no-repeat
				height: 420px
				width: 300px
				@include transition(background, 0.3s, ease-in)
				h2
					letter-spacing: 0.15em
					margin-top: 55%
					opacity: 0
					@include transition(opacity, 0.3s, ease-in)
				&:hover
					background: url('team/cale-zima-hover.jpg')
					h2
						opacity: 1
			.image6
				background: url('team/seth-huot.jpg') no-repeat
				height: 340px
				width: 300px
				@include transition(background, 0.3s, ease-in)
				h2
					letter-spacing: 0.15em
					margin-top: 40%
					opacity: 0
					@include transition(opacity, 0.3s, ease-in)
				&:hover
					background: url('team/seth-huot-hover.jpg')
					h2
						opacity: 1
		// .transparent-hover
		// 	background: #626262
		// 	height: 100%
		// 	opacity: 0
		// 	position: absolute
		// 	right: 0
		// 	top: 0
		// 	width: 300px
		// 	z-index: 1
		// 	&:hover
		// 		opacity: 0.7


@media (max-width: 940px) and (min-width: 641px)
	#team
		.team-list
			.row-fluid
				max-width: 640px

@media (max-width: 640px)
	#team
		.team-list
			.row-fluid
				max-width: 340px
				.team-image
					margin: 0 16px 16px 20px


