@import "variables"
@import "fontface"
@import "mixins"

.tiled-images
	display: none

#home-tiles
	.images-container
		border: 1px solid $border
		background: $white
		.row-fluid
			margin: 0 auto
			max-width: 980px
			.masonry-container
				background: $white
				border-top: 20px solid $white
				border-bottom: 20px solid $white
				margin: 0 auto
				.home-image
					display: inline-block
					text-align: center
					margin: 0 auto 20px auto
					.co-op-image-hover
						display: none
					.featured-product-hover
						display: none
					.blog-hover
						display: none
					.shop-now-hover
						display: none
					.visuals-hover
						display: none

#team-tiles
	background: $white
	margin: 0 auto
	.row-fluid
		margin: 0 auto
		max-width: 980px
		.masonry-container
			background: $white
			border-top: 20px solid $white
			border-bottom: 20px solid $white
			margin: 0 auto
			.team-tile-image
				display: inline-block
				text-align: center
				margin: 0 auto 20px auto