@import "variables"
@import "fontface"
@import "mixins"

#tiled-images.home-tiles
	.images-container
		background: $white
		.row-fluid
			margin: 0 auto
			max-width: 980px
			.masonry-container
				background: $white
				border-top: 20px solid $white
				.home-image
					margin: 0 0 20px 0
					.co-op-image-hover
						display: none
					.featured-product-hover
						display: none
					.blog-hover
						display: none
					.shop-now-hover
						display: none