@import "variables"
@import "fontface"
@import "mixins"

.visuals
	.row-fluid
		margin: 0 auto
		max-width: 940px
		.visual-header
			border-bottom: 1px solid $border
			margin-bottom: 20px
			padding-bottom: 40px
			.video-player
				display: none
				height: auto
				iframe
					width: 100%
			.active
				display: block
		.visual-images
			margin: 20px auto
			.visual-image
				float: left
				margin-bottom: 40px
				opacity: 1
				position: relative
				@include transition(opacity, 0.2s, ease)
				&:hover
					opacity: 0.7
				&:nth-child(4n)
					margin-right: 0
				h5
					color: $darkGray
					font-size: 13px
					text-align: center
					text-transform: uppercase
				.play
					position: absolute
					right: 73px
					top: 89px

@media screen and (max-width: 940px) and (min-width: 769px)

@media screen and (max-width: 768px) and (min-width: 480px)
	.visuals
		.row-fluid
			.visual-header
				.video-player
					iframe
						height: 432px

@media screen and (max-width: 479px) 
	.visuals
		.row-fluid
			.visual-header
				.video-player
					iframe
						height: 230px


