    <div class="row-fluid carousel-products"> 
      <div class="span12">
        <div id="myCarousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="item active">
              <a href="/products/the-deck-sable-black-wood-watch-40mm">
                <img src="assets/product-carousel/Halloween-Hat-Product-Masthead_940.jpg"></img>
              </a>
            </div>
            <div class="item">
              <a href="/sable-collection">
                <img src="assets/product-carousel/product_carousel_sable.jpg"></img>
              </a>
            </div>
            <div class="item">
              <a href="/blonde-collection">
                <img src="assets/product-carousel/product_carousel_blonde.jpg"></img>
              </a>
            </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
      </div>
    </div>