    <div class="row-fluid carousel-products"> 
      <div class="span12">
        <div id="myCarousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item">
              <a href="/products/186">
                <img src="assets/product-carousel/product_carousel_deck.jpg"></img>
              </a>
            </div>
            <div class="item">
              <a href="/products/184">
                <img src="assets/product-carousel/product_carousel_plank.jpg"></img>
              </a>
            </div>
            <div class="item">
              <a href="/products/188">
                <img src="assets/product-carousel/product_carousel_drift.jpg"></img>
              </a>
            </div>
            <div class="item">
              <a href="/products/193">
               <img src="assets/product-carousel/product_carousel_baron.jpg"></img>
              </a>
            </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
      </div>
    </div>