		<div class="row-fluid product-nav">
      <div class="span2 product-nav-item">Mica Store</div>
      <div class="span2 product-nav-item"><a href="">Watches</a></div>
      <div class="span2 product-nav-item"><a href="">Clothing</a></div>
      <div class="span4"></div>
      <div class="span2 product-nav-item"><i class="icon-shopping-cart"></i> View Cart</div>
    </div>