		<div class="row-fluid product-nav">
      <div class="span2 product-nav-item"><a href="/products">Mica Store</a></div>
      <div class="span1 product-nav-item"><a href="/watches">Watches</a></div>
      <div class="span1 product-nav-item"><a href="/clothing">Clothing</a></div>
      <div class="span6"></div>
      <div class="span2 product-nav-item"><a href="https://mica.infusionsoft.com/app/manageCart/showManageOrder"><i class="icon-shopping-cart"></i> View Cart</a></div>
    </div>

    <div class="row-fluid product-nav-mobile">
      <div class="span7 product-nav-item"><a id="productNavOpen" href="#">Mica Store <span class="caret"></span></a></div>
      <div class="span5 product-nav-item"><i class="icon-shopping-cart"></i> View Cart</div>
    </div>

    <div class="row-fluid product-mobile-drop" id="openProductNav">
      <div class="span12">
      	<div class="product-item-drop"><a href="/watches">Watches</a></div>
      	<div class="product-item-drop"><a href="/clothing">Clothing</a></div>
      </div>
    </div>

<script>
	$(document).ready(function() {
		$('#productNavOpen').click(function() {
		  $('#openProductNav').slideToggle('fast', function() {
		    // Animation complete.
		  });
		});
	});
</script>