<!DOCTYPE html>
<html>
<head>
  <title>MicamoveRails</title>
  <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="header hidden-tablet hidden-phone">	
		<div class="container">
			<div class="row">
				<div class="span3">
					<div class="logo">
						<a href="/"><img src="assets/logo.png"></img></a>
					</div>
				</div>
				<div class="span9 pull-right">
					<ul class="nav-list">
						<li class="nav-item"><a href="/products">Store</a></li>
						<li class="nav-item"><a href="/team">Team</a></li>
						<li class="nav-item"><a href="http://tumblr.micamove.com/">Mvmnt</a></li>
						<li class="nav-item"><a href="#">Visuals</a></li>
						<li class="nav-item"><a href="#">Support</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="header hidden-desktop visable-phone">	
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span3">
					<div class="logo">
						<a href="/"><img src="assets/logo.png"></img></a>
					</div>
				</div>
				<div class="span9 pull-right">
					<ul class="nav-list hidden-desktop">
						<a href="#">
							<li class="nav-menu-icon" id="mobileNavLink">
								<div class="nav-icon-line"></div>
								<div class="nav-icon-line"></div>
								<div class="nav-icon-line"></div>
							</li>
						</a>
					</ul>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12 mobile-nav-list" id="openNavMenu">
					<a href="/" class="mobile-nav-item">Store</a>
					<a href="/" class="mobile-nav-item">Team</a>
					<a href="/" class="mobile-nav-item">Mvmnt</a>
					<a href="/" class="mobile-nav-item">Visuals</a>
					<a href="/" class="mobile-nav-item">Support</a>
				</div>
			</div>
		</div>
	</div>

<%= yield %>

</body>


<script>
	$(document).ready(function() {
		$('#mobileNavLink').click(function() {
		  $('#openNavMenu').slideToggle('fast', function() {
		    // Animation complete.
		  });
		});
	});
</script>
</html>
